
<form action="/square/results">
  <label for="squareform">Enter a number</label>
  <input id="squareform" type="text" placeholder="What number do you want to square?" name="number">
  <button>Calculate square</button>
</form>

<a href="/square/new">Calculate another square</a>
