
<form>
  <label for="squareform">Enter a number</label>
  <input id="squareform" type="text" placeholder="What number do you want to square?" name="square">
  <button>Calculate square</button>
</form>
